/* contact */
.contact {
  width: 100%;
  height: auto;
  margin-bottom: 0.5vw;
}
.contact .text_box {
  width: 100%;
  height: 7vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
.contact .text_box p {
  font-size: 1.6vw;
  font-weight: 600;
}
.contact .article_container {
  width: 100%;
  height: auto;
  margin-top: 1vw;
}
.contact .article_container .article1 {
  width: 22%;
  height: auto;
  margin: 0 auto;
  margin-top: 5vw;
}
.contact .article_container .article1 p:nth-child(1) {
  font-size: 1.3vw;
  font-weight: 600;
  color: blue;
}
.contact .article_container .article1 hr {
  margin: 2vw 0;
  border-width: 1px;
  box-shadow: none;
  border-color: black;
}
.contact .article_container .article1 p {
  font-size: 1.2vw;
  margin-bottom: 1vw;
}
.contact .article_container .article2 {
  width: 24%;
  height: 8vw;
  padding: 1vw;
  margin: 0 auto;
  margin-top: 3vw;
  margin-bottom: 3vw;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.contact .article_container .article2 p {
  font-size: 1.2vw;
}
@media screen and (max-width: 500px) {
  .contact .text_box {
    height: 10vw;
  }
  .contact .text_box p {
    font-size: 2.5vw;
  }
  .contact .article_container .article1 {
    width: 52%;
  }
  .contact .article_container .article1 p:nth-child(1) {
    font-size: 3.5vw;
  }
  .contact .article_container .article1 p {
    font-size: 3vw;
    margin-bottom: 3vw;
    letter-spacing: -0.03vw;
  }
  .contact .article_container .article2 {
    width: 54%;
    height: 20vw;
    margin-top: 5vw;
    margin-bottom: 5vw;
  }
  .contact .article_container .article2 p {
    font-size: 3vw;
  }
}
