/* home */
.home {
  width: 100%;
  height: auto;
}
.home video {
  width: 100%;
}
.home .text_box {
  width: 100%;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  border: 1px solid black;
  margin-top: 3vw;
  margin-bottom: 2vw;
}
@media screen and (max-width: 500px) {
  .home .text_box {
    font-size: 3.5vw;
  }
}
